@use "./Colors.scss" as colors;
@use "./TextStyles.scss";

.App {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: colors.$color-whitesmoke;
}