@import "./colors.scss";
@import "./text.scss";

.App {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-main-text;
}

.vocabularyRow {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
