$color-main-purple: #6B618F;
$color-whitesmoke: #E4E4E7;

$color-word-highlight: #70B8B8;
$color-main-text: #E4E4E7;
$color-secondary-text: #A6A6A9;
$color-background: #1E1E24;
$color-secondary-background: #23232A;
$color-gray-border: #373B47;
$color-bot-message: #514761;
$color-bot-message-button: #5A4A78;
$color-bot-message-button-border: #7A6995;
$color-user-message: $color-main-purple;
$color-user-message-button: #7A6995;
$color-user-message-button-border: #9478C8;
$color-textfield-fill: #2B2B33;
$color-textfield-text: #7D7D85;
$color-textfield-border: #3C445A;
$color-textfield-outline: #7A6995;
$color-send-icon-fill: #7D7D85;
$color-loading: $color-main-purple;
$color-correct: #4B7F52;
$color-incorrect: #8B2E3E;
