$color-main-text: #E4E4E7;
$color-background: #1E1E24;
$color-secondary-background: #23232A;
$color-gray-border: #373B47;
$color-bot-message: #514761;
$color-user-message: #6B618F;
$color-textfield-fill: #2B2B33;
$color-textfield-text: #7D7D85;
$color-textfield-border: #3C445A;
$color-textfield-outline: #7A6995;
$color-send-icon-fill: #7D7D85;
$color-loading: #6B618F;