@import "./colors.scss";

.sidePanel {
  background-color: $color-secondary-background;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .sidePanelInnerContainer {
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sidePanelTextContainer {
    hyphens: auto !important;
    -webkit-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -ms-hyphens: auto !important;
    max-height: 250px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $color-background;
    border: 2px solid $color-gray-border;
    border-radius: 20px;
    padding: 20px;
    overflow-y: scroll;
  }

  .loadingContainer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flexRow {
    display: flex;
    flex-direction: row;

    .paragraph {
      margin-right: 10px;
    }
  }
}
